# Misc
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub/
.pub-cache/

# Android-specific
**/android/local.properties
**/android/.gradle
**/android/*.iml

# Unused platforms (Windows + Android only)
ios/
linux/
macos/
web/

# Agent specific
.agent/
